<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->

<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
<script
	src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


<script>
	function logout() {
		jQuery.ajax({
			type : 'POST',
			cache : true,
			async : false,
			contentType : 'application/json',
			dataType : 'json',
			url : location.origin + "/logout",
			data : location.href.split("/")[3],
			success : function(data) {
				window.location.assign(location.origin);
			},
			error : function(data) {
			}
		});
	}
	function getAllEmployeeInfo() {
		jQuery
				.ajax({
					type : 'GET',
					cache : true,
					async : false,
					contentType : 'application/json',
					dataType : 'json',
					url : "http://localhost:9010/data",
					success : function(data) {
						$('#employeeTBLId')
								.html(
										'<table class="table  table-bordered "  id="allPat" style="color:white!important"></table>');
						dataTable = $('#allPat').dataTable({
							"data" : data,
							"bLengthChange" : false,
							"bFilter" : true,
							"bInfo" : false,
							"scrollCollapse" : true,
							"paging" : false,
							'iDisplayLength' : 6,
							"dom" : 'lrtip',
							"aoColumns" : [ {
								"mDataProp" : "firstName",
								"title" : "Name",
								"width" : "15%"
							}, {
								"mDataProp" : "username",
								"title" : "UserName",
								"width" : "15%"
							}, {
								"mDataProp" : "contact",
								"title" : "Contact",
								"width" : "15%"
							}, {
								"mDataProp" : "email",
								"title" : "Email",
								"width" : "15%"
							}, {
								"mDataProp" : "gender",
								"title" : "Gender",
								"width" : "15%"
							},

							{
								"mDataProp" : "isActive",
								"title" : "isActive",
								"width" : "15%"
							}

							]

						});

					}
				//)
				});
		$("#searchId").keyup(function() {
			dataTable.fnFilter(this.value);
			$("#allPat_filter").hide();
		});

	}

	function deleteData(empId) {
		$("#id01").modal();
		$("#hiddenId").val(empId);
	}

	function editData(empId) {
		$("#editInformation").modal();
		$("#hiddenId").val(empId);
	}

	function deleteEmployeeData() {
		jQuery.ajax({
			type : 'POST',
			cache : true,
			async : false,
			contentType : 'application/json',
			dataType : 'json',
			url : "http://localhost:9009/employee/" + $("#hiddenId").val(),
			success : function(data) {
				debugger;
				$("#id01").modal('hide');
				window.location.assign("http://localhost:9009/page")
			},
			error : function(data) {
				$("#id01").modal('hide');
				window.location.assign("http://localhost:9009/page")
			}
		});
	}

	function addOrEditData(empId) {
		$("#editInformation").modal();

		jQuery.ajax({
			type : 'GET',
			cache : true,
			async : false,
			contentType : 'application/json',
			dataType : 'json',
			url : "http://localhost:9009/employee/" + empId,
			success : function(data) {
				$("#usr").val(data.name);
				$("#age").val(data.age);
				$("#salaryId").val(data.salary);
				$("#hiddenId").val(empId);
			}
		});
	}

	function updateEmployee() {
		var inputPayload = {
			"name" : $("#usr").val(),
			"age" : $("#age").val(),
			"salary" : $("#salaryId").val()
		}
		var inputPayloadString = JSON.stringify(inputPayload);
		jQuery.ajax({
			type : 'POST',
			cache : true,
			async : false,
			contentType : 'application/json',
			dataType : 'json',
			url : "http://localhost:9009/updateEmployee/"
					+ $("#hiddenId").val(),
			data : inputPayloadString,
			success : function(data) {
				$("#editInformation").modal('hide');
				window.location.assign("http://localhost:9009/page")
			},
			error : function(data) {
				$("#editInformation").modal('hide');
				window.location.assign("http://localhost:9009/page")
			}
		});

	}
</script>



</head>
<body style="background-color: black; color: white"
	onload="getAllEmployeeInfo()">

	<input type="hidden" id="hiddenId" value="" />

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark"
		style="float: right;">
		<ul class="navbar-nav">
			<li class="nav-item active"><a class="nav-link" href="#"></a></li>
			<li class="nav-item"><a class="nav-link" href=""></a></li>
			<li class="nav-item" style="align: right"><a class="nav-link"
				href="#" onclick="logout()">Logout</a></li>



		</ul>
	</nav>

	<br />
	<br />
	<br />
	<div class="container">
		<h3>Student Information</h3>
		<div id="employeeTBLId"></div>
	</div>



	<!-- Modal -->
	<div class="modal fade" id="editInformation" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content" style="color: black">
				<div class="modal-header">
					<h4 class="modal-title">Edit Information</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">

						<div class="row">
							<div class="col-sm-7">
								<div class="form-group">
									<label for="usr">Name:</label> <input type="text"
										class="form-control" id="usr">
								</div>
							</div>
							<div class="col-sm-5">
								<div class="form-group">
									<label>Age</label> <input type="text" class="form-control"
										id="age">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-7">
								<div class="form-group">
									<label>Salary</label> <input type="text" class="form-control"
										id="salaryId">
								</div>
							</div>

						</div>


					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-warning"
						onclick="updateEmployee()">Update</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="id01" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content" style="color: black">
				<div class="modal-header">
					<h4 class="modal-title">Student Information</h4>
				</div>
				<div class="modal-body">
					<span><b><i>Full Name::</i></b></span> <span>Vijay</span><br /> <span><b><i>Age::</i></b></span><span>Vijay</span><br />
					<span><b><i>Contact::</i></b></span><span>Vijay</span><br /> <span><b><i>userName::</i></b></span><span>Vijay</span><br />
					<span><b><i>email::</i></b></span><span>Vijay</span><br /> <span><b><i>Role::</i></b></span><span>Vijay</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
